name: Publish to PyPI

on:
    push:
        tags:
            - "v*"
    workflow_dispatch:

permissions:
    contents: read
    id-token: write # MAndatory for OIDC

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        environment: pypi
        steps:
            - uses: actions/checkout@v4

            - name: Build wheels
              uses: PyO3/maturin-action@v1
              with:
                  command: build
                  args: --release --out dist --find-interpreter
                  manylinux: auto

            - name: Publish to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  packages-dir: dist/
                  attestations: false
