name: Publish to PyPI

on:
    push:
        tags:
            - "v*"
    workflow_dispatch:

permissions:
    contents: read
    id-token: write # MAndatory for OIDC

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        environment: pypi
        steps:
            - uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.10"

            - name: Set up Rust
              uses: actions-rs/toolchain@v1
              with:
                  profile: minimal
                  toolchain: stable
                  override: true

            - name: Install maturin
              run: pip install maturin

            - name: Build wheels
              run: maturin build --release --out dist

            - name: Publish to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  packages_dir: dist/
